# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Claus\CloudStation\Bsc 2020\2 semester\DBD\Exercises\EDMA\Learn_EDMA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
